# Environment Variables 
.env 
.env.local 
.env.production 
 
# Firebase Secrets 
firebase/ 
 
# Node 
node_modules/ 
npm-debug.log* 
package-lock.json 
 
# IDE 
.vscode/ 
.idea/ 
*.swp 
 
# OS 
.DS_Store 
Thumbs.db 
